{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
    {{ super() }}

    <link href="{{ SITEURL }}/{{ article.url }}" rel="canonical" />
    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% elif article.headline %}
        <meta name="description" content="{{ article.headline }}">
    {% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}

    {% for author in article.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}">
    {% endfor %}
{% endblock %}

{% block twitter_card %}
    {% for name,link in SOCIAL if name.lower() in ['twitter'] %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        {# ' #}
        <meta name="twitter:title" content="{{ article.title }}">
        <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">

        {% if article.twitter_image %}
            {% if article.twitter_image|lower|truncate(4, True, '') == "http" %}
                <meta name="twitter:image:src" content="{{ article.twitter_image }}">
            {% else %}
                <meta name="twitter:image:src" content="{{ SITEURL }}/{{ article.twitter_image }}">
            {% endif %}
        {% elif DEFAULT_TWITTER_CARD_IMAGE %}
            <meta name="twitter:image:src" content="{{ SITEURL }}/{{ DEFAULT_TWITTER_CARD_IMAGE }}">
        {% else %}
            <meta name="twitter:image:src" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
        {% endif %}

        {% if description %}
            <meta name="twitter:description" content="{{ description }}">
        {% elif article.headline %}
            <meta name="twitter:description" content="{{ article.headline }}">
        {% else %}
            <meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block opengraph %}
  {{ super() }}
  <meta property="og:type" content="article">
        {% for author in article.authors %}
            <meta property="article:author" content="{{ SITEURL }}/{{ author.url }}">
        {% endfor %}
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:title" content="{{ article.title }}">
  <meta property="article:published_time" content="{{ article.date }}">
        {% if description %}
            <meta property="og:description" content="{{ description }}">
        {% elif article.headline %}
            <meta property="og:description" content="{{ article.headline }}">
        {% elif article.summary %}
            <meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}

        {% if article.og_image %}
            {% if article.og_image|lower|truncate(4, True, '') == "http" %}
                <meta property="og:image" content="{{ article.og_image }}">
            {% else %}
                <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}">
            {% endif %}
        {% elif DEFAULT_OPENGRAPH_IMAGE %}
            <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_OPENGRAPH_IMAGE }}">
        {% else %}
            <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
        {% endif %}
{% endblock %}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a></li>
        <li class="divider"></li>
        <li class="crumb"><a href="{{ SITEURL }}/categories.html">Categories</a></li>
        <li class="divider"></li>
        <li class="crumb">
            <a href="{{ SITEURL }}/category/{{article.category.slug}}.html">
                {{article.category.name}}
            </a>
        </li>
        <li class="divider"></li>
        <li class="crumb">{{ article.slug }}</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <a id="top" />
    {% set SHOW_FULL_ARTICLE = true %}
    {% include "partials/article.html" %}
  </main>
  <section class="return">
    <h3><a href="#top"><i class="fas fa-fast-backward" />Back to top</a></h3>
    <h3><a href="{{ SITEURL }}"><i class="fas fa-heart" />Return to index</a></h3>
  </section>
  {% set skip_articles = namespace(prev="", next="") %}
  {% for a in articles|reverse %}
    {% if a.slug == article.slug %}
      {% if loop.nextitem is defined %}
        {% set skip_articles.next = loop.nextitem.slug %}
        {% set relatedarticle = loop.nextitem %}
        <section class="related">
          <h2>Next Post</h2>
          {% set include_related_article_category = true %}
          {% set include_related_article_tags = true %}
          {% include "partials/related_article.html" %}
        </section>
      {% endif %}
      {% if loop.previtem is defined %}
        {% set skip_articles.prev = loop.previtem.slug %}
        {% set relatedarticle = loop.previtem %}
        <section class="related">
          <h2>Previous Post</h2>
          {% set include_related_article_category = true %}
          {% set include_related_article_tags = true %}
          {% include "partials/related_article.html" %}
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if SHOW_RELATED_ARTICLES %}
    <section class="related">
      {{ prev_article_slug }}
      {{ next_article_slug }}
      <h2>Related Posts</h2>
      {% for c, arts in categories %}
        {% if c == category %}
          {% if arts|length <= 1 %}
            <p>There are no related posts. Maybe check out another <a href="{{ SITEURL }}/categories.html">category</a>?</p>
          {% else %}
            {% set include_related_article_category = false %}
            {% set include_related_article_tags = true %}
            {# Slicing this list of articles did not work; it returned empty objects. #}
            {% set count = namespace(value=RELATED_ARTICLE_COUNT) %}
            {% for relatedarticle in arts %}
                {% if count.value > 0  %}
                {% if relatedarticle.slug != article.slug and relatedarticle.slug != skip_articles.prev and relatedarticle.slug != skip_articles.next %}
                  {% set count.value = count.value - 1 %}
                  {% include "partials/related_article.html" %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
</div>
{% endblock content %}
