{% extends "base.html" %}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a></li>
        <li class="divider"></li>
        <li class="crumb">Categories</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <!--<header class="post-header">
        <h1 class="sitemap-title">Categories</h1>
        <div class="clear"></div>
    </header>-->
    {% for category in categories %}
        <h2>
            <a href="{{ SITEURL }}/{{ category[0].url }}" rel="bookmark" title="{{category[0].name}} Category">{{ category[0].name }}</a>
            {% if CATEGORY_FEED_ATOM %} <span class="header-subtext">
                    <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category.name }} Category Atom Feed">
                        <i class="fas fa-rss body-icon"></i>
                    </a>
                </span>
            {% endif %}
            <span class="header-subtext">({{ category[1]|length }} articles)</span>
        </h2>
    {% endfor %}
  </main>
</div>
{% endblock content %}
