{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block opengraph %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }} - Categories" />
  <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}" />
  <meta property="og:url" content="{{ SITEURL }}/categories.html" />
  {% if DEFAULT_OPENGRAPH_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_OPENGRAPH_IMAGE }}">
  {% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
  {% endif %}
{% endblock opengraph%}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a></li>
        <li class="divider"></li>
        <li class="crumb">Categories</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <!--<header class="post-header">
        <h1 class="sitemap-title">Categories</h1>
        <div class="clear"></div>
    </header>-->
    {% for category in categories %}
        <h2>
            <a href="{{ SITEURL }}/{{ category[0].url }}" rel="bookmark" title="{{category[0].name}} Category">{{ category[0].name }}</a>
            {% if CATEGORY_FEED_ATOM %} <span class="header-subtext">
                    <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category.name }} Category Atom Feed">
                        <i class="fas fa-rss body-icon"></i>
                    </a>
                </span>
            {% endif %}
            <span class="header-subtext">({{ category[1]|length }} articles)</span>
        </h2>
    {% endfor %}
  </main>
</div>
{% endblock content %}
