{% extends "base.html" %}

{% block opengraph %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}" />
  <meta property="og:url" content="{{ SITEURL }}" />
  {% if DEFAULT_OPENGRAPH_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_OPENGRAPH_IMAGE }}">
  {% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
  {% endif %}
{% endblock opengraph%}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a> Home
            {% if FEED_ALL_ATOM %}
                <span class="header-subtext">
                    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
                        <i class="fas fa-rss breadcrumb-icon"></i>
                    </a>
                </span>
            {% endif %}
        </li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
