{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block opengraph %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }} - {{page.title}}" />
  <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{page.url}}" />
  {% if DEFAULT_OPENGRAPH_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_OPENGRAPH_IMAGE }}">
  {% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
  {% endif %}
{% endblock opengraph%}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a></li>
        <li class="divider"></li>
        <li class="crumb">{{ page.slug }}</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <article class="post">
        <div class="inner">
            <header class="post-header">
                <h1 class="post-title"><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a>
                </h1>
                <div class="clear"></div>
            </header>
            <section class="post-content">
                {{ page.content }}
            </section>
        </div>
    </article>
  </main>
</div>
{% endblock content %}
