{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ tag.name }} Tag{% endblock %}

{% block opengraph %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }} - {{tag.name}} Tag" />
  <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{tag.url}}" />
  {% if DEFAULT_OPENGRAPH_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_OPENGRAPH_IMAGE }}">
  {% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png">
  {% endif %}
{% endblock opengraph%}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><i class="fas fa-heart breadcrumb-icon"></i></a></li>
        <li class="divider"></li>
        <li class="crumb"><a href="{{ SITEURL }}/tags.html">Tags</a></li>
        <li class="divider"></li>
        <li class="crumb tag">{{tag.name}}
            {% if TAG_FEED_ATOM %}
                <span class="header-subtext">
                    <a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ tag.name }} Tag Atom Feed">
                       <i class="fas fa-rss breadcrumb-icon"></i>
                    </a>
                </span>
            {% endif %}
        </li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/preview_loop.html" %}
  </main>
</div>
{% endblock content %}
