{% extends "base.html" %}

{% block breadcrumbs %}
<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ SITEURL }}"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/heart.svg" class="breadcrumb-icon"></a></li>
        <li class="divider"></li>
        <li class="crumb"><a href="{{ SITEURL }}/tags.html">Tags</a></li>
        <li class="divider"></li>
        <li class="crumb tag">
            {{tag.name}}
            {% if TAG_FEED_ATOM %}
                <span class="header-subtext">
                    <a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ tag.name }} Tag Atom Feed">
                       <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/rss.svg" class="breadcrumb-icon">
                    </a>
                </span>
            {% endif %}
        </li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% set SHOW_FULL_ARTICLE = false %}
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}