<nav class="collapsible-menu">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle"><img id="blog-logo-image" src="{{SITE_LOGO}}" alt="Blog Logo" /></label>
    <div class="menu-content">
        <ul>
            {% for m in MENUITEMS %}
                <li role="presentation">
                    <a href="{{ SITEURL }}/{{ m[1] }}">{{ m[0] }}</a>
                </li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li role="presentation">
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            <li role="presentation">
                <span class="social-icons">
                    {% for s in SOCIAL_ICONS %}
                        <a href="{{ s[2] }}" target="_blank" title="{{ s[0] }}">
                            <i class="{{s[1]}}"></i>
                        </a>
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
</nav>
